/* This is a comment in CSS */
/* .prettierrc.yml and .editorconfig are files with settings */

:root {
  --container-width: 987px;
  --header-height: 60px;
  --footer-height: 172px;
  --default-font-family: "Open Sans", sans-serif;
  --default-font-size: 1em;
  --default-nav-size: 0.713em;
  --default-pad-min: 0.5em;
  --default-pad-med: 1em;
  --default-pad-max: 1.5em;
  --default-nav-padding: 20px;
  --brand-dark-blue: #1d313f;
}

body {
  display: grid;
  gap: 0.5em;
  grid:
    "header" auto
    "main" auto
    "footer" auto;
  font-family: var(--default-font-family);
}

.header {
  grid-area: header;
  background-color: var(--brand-dark-blue);
  height: var(--header-height);
}

.app-main {
  grid-area: main;
}

.app-footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  height: var(--footer-height);
}
